#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
}
/* It worked because it is written below the box class although both of them have the same specificity */

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}
